*{
    margin: 0;
}
       .open-sans {
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto; */
    
    font-style: normal;
       }
       .roboto-slab{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;

       }

/* section 1 */
#s1{
 /* border: 2px solid red; */
 width: 100%;
 height: 700px;
 background-image: url(/source.png);
 /* background-position-x: 20px; */
 /* background-position: 25%; */
 background-size: cover;
}
#s3{
    position: absolute;
    height: 100px;
    width: 200px;
    top: 80px;
    left: 120px;
}
#s3:hover{
animation-name:aa ;
      animation-duration:5s;
      animation-iteration-count: infinite;
}
@keyframes aa {
    25%{
        right: 150px;
        transform: rotateY(90deg);

    }
    50%{
        right: 150px;
        transform: rotateY(180deg);
    }
    75%{
        right: 150px;
        /* transform: rotateY(270deg); */
        transform: translatey(120px);
    }
}
#s4{
    position: absolute;
    color: #f15048;  
    right: 130px;
    top: 310px;
   font-size: 100px;
    /* border: 2px white; */

    
}
#s5{
position: absolute;
    color: aliceblue;  
    right: 130px;
    top: 420px;
   font-size: 70px;
   font-weight: bold;
}
#s6{
position: absolute;
    color: aliceblue;  
    right: 120px;
    top: 510px;
   font-size: 14px;
   font-style: italic;
}
#s7{
position: absolute;
    color: aliceblue;  
    right: 120px;
    top: 530px;
   font-size: 14px;
   font-weight: lighter;
   font-style: italic;
}
#s8{
position: absolute;
    color: #f15048;  
    right: 150px;
    top: 570px;
    height: 50px;
    width: 150px;
    background-color:#f15048;
    color: aliceblue;
    border-radius: 30px;
   /* font-size: 100px; */
}
#s8:hover{
background-color:red;
color: whitesmoke;
/* text-shadow: 10px red; */

}


/* ---------- */

/* section-2 */

#u0{
   position: relative;
   /* border: 5px  solid red; */
   width: 100%;
   height: 600px;
   /* display: flex;       */
   
}
#u8{
/* order: 3px dashed red; */
height: 500px;
width: 80%;
}
#u9{
 position: absolute;
 top: -50px;
 right: 50px;

}
#u9:hover{
     animation-name: ss;
     animation-duration: 5s;
     animation-iteration-count: infinite;
     
}
@keyframes ss {
     50%{
         top: 100px;
         transform: translateY(90deg);
     }
    
} 

#u2{
/* border: 3px dashed red; */
 position: absolute;
 left: 150px;
 top: 100px;
height: 450px;
width: 30%;

}



#u3{
font-size: 48px;
font-weight: 1000;
color: #111111;
/* text-shadow: 100px black; */
     }
#u4{
font-size: 48px;
font-weight:1000;
color: #111111;
position: absolute;
top: 50px;
/* text-shadow: 1px black; */

}
#u2 h6{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top:120px;
    letter-spacing: 2px;
  
}
#u5{
font-size: 14px;
position: absolute;
top: 150px;
font-style: italic;
}
#u6{
font-size: 14px;
position: absolute;
top: 280px;
font-style: italic;
}
#u7{
position: absolute;
top: 370px;
width: 150px;
height: 40px;
left: 10px;
border-radius: 20px;
font-size: 14px;
color: aliceblue;
background-color:#f15048;
text-transform: uppercase;
}
#u7:hover{
 background-color: red;
}
/* --------- */
                                   /* ------section 3----------- */

#q1{
 position: relative;
 /* border: 2px solid red; */
 width: 100%;
 height: 550px;   
 display: flex;
}
#q7{
/* border: 2px dashed yellow; */
  height: 500px;
  width: 50%;
  padding-top: 10px;
}
#q8{
    height: 500px;
    width: 500px;
     position: relative;
    left: 100px;

}

#q8:hover{
     animation: kk;
     animation-duration: 3s;
     animation-iteration-count: infinite;

}
 @keyframes kk {
     50%{
         transform: rotatey(90deg);
         /* transition: all 4s ease-in-out ; */
     }
    
 }
 
 
#q2{ 
   position: relative;
    width: 50%;
    height: 300px;
    height: 500px ;
    /* border: 2px dashed blue; */
    
   
  }
#q3{
position: absolute;
  font-weight: bolder;
  font-size: 48px;
  top: 120px;
  left: 130px;
  color: #111111;
  
}
#q4{
position: absolute;
font-weight: 400;
font-size: 18px;
 letter-spacing: 2px;
 text-transform: uppercase;
 
 top: 200px;
  left: 130px;
  
  color: hsl(0, 0%, 7%);
}
#q5{
  font-style: italic;
  font-size: 14px;
  position: absolute;
  top: 240px;
  width: 550px;
  left: 130px;
} 
#q6{
position: absolute;
top: 350px;
width: 150px;
height: 40px;
left: 155px;
border-radius: 20px;
font-size: 14px;
color: aliceblue;
background-color:#f15048;
text-transform: uppercase;

}
#q6:hover{
 background-color: red;
}


/*-------------------------------------------------------------------- section-p1 */

#p1{
 height: 500px;
 width: 100%;
}
#v1{
 height: 500px;
 width: 100%;
}
/* ------ ----------------------------------------------------------------SECTION M1*/
#m1{
 position: relative;
 /* margin-top: 30px; */
 height: 500px;
 width: 100%;
 /* border: 2px dashed red; */
 background-image: url(/sed.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position-y:-10px ;
}
#m2{
  /* border: 2px solid blue; */
  height: 400px;
  width: 40%;
  position: absolute;
  right: 0;
  top: 30px;
}
#m3{

position: absolute;
  font-weight: bolder;
  font-size: 48px;
  top: 70px;
  right: 30px;
  color: #111111;


}
#m4{
position: absolute;
font-weight: 400;
font-size: 18px;
 letter-spacing: 2px;
 text-transform: uppercase;
 
 top:130px;
 right:  30px;
  
  color: hsl(0, 0%, 7%);

}
#m5{
font-size: 14px;
position: absolute;
top: 170px;
right: 30px;
font-style: italic;
text-align: end;

}
#m6{
position: absolute;
top: 300px;
width: 150px;
height: 40px;
right: 40px;
border-radius: 20px;
font-size: 14px;
color: aliceblue;
background-color:#f15048;
text-transform: uppercase;
outline: wheat;

}
#m6:hover{
background-color: red;
}
/* --------------------------------------------------------------------section a1 */

#a1{
 position: relative;
 /* border: 2px solid red; */
 height: 100px;
 padding: 20px 20px 20px 50px;

}

#a2 h1{
     font-size: 50px;
     font-weight: 800;
     position: absolute;
     left: 500px;

     
}
#a2 h6{
     
     font-size: 30px;
     font-weight: 100;
     color:rgb(46, 43, 43);
     position: absolute;
     left: 570px;
     top: 90px;
     letter-spacing: 1px;
}
/*  ----------------------------------------------------------section card*/

#card{
  display: flex;
  justify-content: space-around;
  height: 500px;
  /* border: 2px solid red; */
  align-items: center;
  /* padding-left: 500px; */
  /* background-color:rgba(83, 79, 79, 0.836); */
 
}

#card div{
 /* border: 2px solid red; */
 /* display: none; */
  width: 350px;
  height: 300px;
  background-color: aliceblue;
  margin-top: -150px;
    
}
#card div img{
  width: 350px;
  height: 300px;
}
#card div h2{
 display: none;
}

#c1:hover{
 width: 400px;
 height:350px;
 left: 50px;
 
}
#c1:hover h2{
 display:inline-block;
}
#c2:hover{
 
width: 400px;
 height:350px;
 left: 50px;
}
#c2:hover h2{
position: relative;
 display:inline-block;
 left: 10px;
}
#c3:hover{
width: 400px;
 height:350px;
 left: 50px;
}
#c3:hover h2{
 display:inline-block;
 padding-left: 1px;
 position: relative;
 left: 10px;
}

#card div button{
position: relative;
  width: 100px;
  height: 30px;
  border-radius: 25px;
  bottom: -30px;
  left: 120px;
  background-color:#f15048;
}  

#card div button:hover{
background-color:red;
}
/*  -------------------------------------section x1 */

#x1{
  margin: 30px 0px 0px 0px;
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 5px solid red; */

}
#x2{   
  /* margin-left: 0; */
  /* left: 0; */
   position: relative;
   width: 40%;
   height: 100%;
   /* border: 2px solid blue; */
}
#x3{
  position: relative;
  top: 10px;
  width: 30%;
  height: 400px;
  padding: 20px;
  /* border: 2px solid blue; */
  right: 140px;
}
#x4{
  position: absolute;
  height: 500px;
}
#x5{
  font-size: 50px;
  font-weight: bolder;
  position: relative;
  top: 10px;
  /* right: 200px; */
  left: 10px;
}
#x6{
  font-size: 20px;
  position: relative;
  font-weight: 500;
  top:30px;
  left: 10px;
}
#x7{
  font-size: 14px;
  position: relative;
  top: 50px;
  font-weight: lighter;
  right: 10px;
 
}
#x8{
  position: relative;
  top: 70px;
  width: 140px;
  height: 40px;
  border-radius: 25px;
  background-color:#f15048;
  color: aliceblue;
  right: -20px;
  /* text-shadow: 0; */
  font-size: 14px;
  
}
#x8:hover{
 background-color: red;
}
/* ------------------------------------------------------  section cv  */

#cv1{
    position: relative;
    margin: 20px 0px 0px 0px;
    /* border: 2px solid red; */
    height: 700px;
    width: 100%;
    /* margin: 30px 0px 0px 0px; */
}

#cv2{
/* position: relative; */

  height: 100%;
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid green; */

}


#cv7{
   background-image: url(/img3.png);
    background-size: cover;
    background-position: center;
    /* border-collapse: collapse; */
}

#cv8{
   background-image: url(/img5.png);
   background-size: cover;background-position: center;
}
#cv9{
    background-image: url(img4.png);
    background-size: cover;
    background-position: center;
}
/* ---------------------------------------------- section ty */
#ty1{
     position: relative;
     height: 500px;
     width: 100%;
     margin-top: 40px;
     /* border: 2px solid red; */
     display: flex;
}
#ty2{
  /* border: 2px solid green; */
  width: 40%;
  height: 400px;
  padding-left: 100px;
  background-image: url(/img1.png) ;
  background-repeat: no-repeat;
  background-position:150px;
  background-size: contain;
}


#ty3{
/* position: absolute; */
   /* border: 6px; */
   height: 100%;
   width:60%;
   /* border: 3px dashed yellow; */
}

#ty4{
    position: absolute;
    font-size: 48px;
    top:20px;
    left: 600px;
}
#ty5{
position: absolute;
font-size: 20px;
   top: 90px;
   left: 600px;
   font-weight: 400;
   /* padding-left: px; */
   letter-spacing: 1px;
}
#ty6{
position: absolute;
 font-size: 20px;
 top: 90px;
 left: 1000px;
 font-weight: 400;
 letter-spacing: 1px;
}


#ty7{
/* display: none; */
position: absolute;
/* border: 3px solid tomato; */
top: 130px;
width: 300px;
font-weight: 200;
/* padding-left: -10px; */
left: 580px;
 
}
#ty8{
/* display: none; */
position: absolute;
/* border: 3px solid tomato; */
top: 130px;
width: 350px;
font-weight: 200;
/* padding-left: -10px; */
right: 15px;

}
#ty1 div ul{
   font-style: italic;
}
 
/*   ------------------------------------  section qv */
  
footer{
      height: 100px;
      width: 100%;
      background-color: #333333;
      position: relative;
}
#qw1{
     position: absolute;
    /* border: 2px solid red; */
    width: 300px;
    display: flex;
    justify-content:center;
    top: 40px;
    left: 550px;
    font-size: 12.8px;

}
#qw2 , #qw4{
    color: #f9b7b3;
    margin-right: 5px;
}
#qw3{
   color: aliceblue;
   margin-right: 5px;
}
